Body {
    background-image: url("SW8-006.jpg");
    Width:960px;
    Font-family: Times New Roman, serif}
header#page_header{ width:100%; /* Затем определим ширину заголовка */
}
ol {margin-left: 10pt} /* Отступ слева 20 пикселей */
ul {margin-left: 30pt}/* Отступ слева 40 пикселей */
li {
    font-family: arial, serif;}
header#page_header li, footer#page_footer li {
    margin: 0;
    padding: 0;
    text-align: center;
    display:inline-block;
}
header#page_header, footer#page_footer {
    text-align: center;
}
header#page_header a, footer#page_footer a {
    display: block;
    padding: 5px 15px;
    color: #fff;
    font-size:150%;
    text-decoration: none;
    background: #03658e;
    margin-right: 5px; /* добавляем отступы между пунктами */
}
header#page_header a:hover, footer#page_footer a:hover {
    background: #8AB8CC;
}